doctype strict
html
	head
		title#toptitle #{user.name} - #{config.webname}
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="theme-color" content="#222")
		link(rel="stylesheet" type="text/css" href="view.css")
		link(rel="icon" type="image/png" href="icon-clear.png")
		link(rel="apple-touch-icon-precomposed" type="image/png" href="icon-matte.png")
		link(rel="manifest" href="manifest.json")
	body
		div#msg No Content
		div#icon_ex: img#icon_in(src="")
		dl#rawtitle_ex.hide
			dt Title
			dd#rawtitle_in ...
		dl#stamp_ex.hide
			dt Sent
			dd#stamp_in ...
		dl#url_ex.hide
			dt Link
			dd: a#url_in(href="") ...
		dl#body_ex.hide
			dt Text
			dd#body_in ...
		dl#image_ex.hide
			dt Image
			dd: img#image_in(src="" target="_blank")
		div#close &#x274c;
		script(type="application/javascript" src="view.js")
