doctype strict
html
	head
		title #{user.name} - #{config.webname}
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="theme-color" content="#222")
		link(rel="stylesheet" type="text/css" href="page.css")
		link(rel="icon" type="image/png" href="icon-clear.png")
		link(rel="apple-touch-icon-precomposed" type="image/png" href="icon-matte.png")
		link(rel="manifest" href="manifest.json")
	body
		#main
			div #{user.name} - #{config.webname}
			canvas#canvas
			#post
				#msg
					div: strong#title Not Supported
					#body Script error or unsupported
				form#subscribe.hide
					div: strong#title Subscribe This Device
					input#devicename(type="text" placeholder="Device Name")
					input#submit.hide(type="submit" value="Subscribe")
		script(type="application/javascript" src="pubkey.js")
		script(type="application/javascript" src="page.js")
		script(type="application/javascript" src="qrcode.js")
