* {
	box-sizing: border-box;
	font-family: monospace;
	margin: 0.2em auto 0.2em auto;
	text-align: center;
	color: #000;
}

html,
body {
	background-color: #222;
	font-size: 12pt;
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main {
	background-color: #fff;
	width: 80vw;
	max-width: 3.5in;
	padding: 1em 0 0.25em 0;
	border-radius: 0.25em;
	box-shadow: 0 0 4px #000;
}

#post {
	min-height: 3em;
}

input {
	background-color: #ddd;
	color: #000;
	border-color: #444;
	border-style: solid;
	border-radius: 2px;
	font-size: inherit;
	display: block;
	max-width: 20em;
}

input[type=submit] {
	font-weight: bold;
	background-color: #ccc;
	border-color: #444;
}

input[type=text] {
	width: 100%;
}

canvas {
	image-rendering: crisp-edges;
	width: 75vw;
	max-width: 3in;
	height: 75vw;
	max-height: 3in;
	margin: 0 0 0 0;
}

.hide {
	display: none;
}

hr {
	height: 2px;
	border-style: hidden;
	background-color: #888;
}
