* {
	box-sizing: border-box;
	font-family: monospace;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #fff;
	font-size: 12pt;
	word-wrap: break-word;
}

html,
body {
	background-color: #222;
}

body {
	padding: 0.25em 1em 0.25em 1em;
}

dt {
	font-size: 75%;
	font-variant: small-caps;
}

dd {
	margin-bottom: 2em;
}

.hide {
	display: none;
}

#icon_ex {
	float: right;
	margin: 0 0 0.25em 1em;
}

#icon_in {
	width: 6em;
	max-width: 20vmin;
	max-height: 20vmin;
}

img {
	max-width: 100%;
}

#close {
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	font-size: 24pt;
	cursor: pointer;
	text-shadow: 0 0 1px #222, 0 0 2px #222, 0 0 4px #222;
	opacity: 50%;
}
